.container {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 85%;
  max-width: 80em;
}

.docElement{
  margin:min(2vw, 2em);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.docElement p{
  color: #0A2950;
  margin-left: min(1vw, 1em);
  font-size: min(2vw, 2em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: min(1.3vw, 1.3em);
}

.docElement p::before{
  content: '';
  position: absolute;
  margin-left: min(-0.7vw, -0.7em);
  width: min(0.4vw, 0.4em);
  height: min(3vw, 3em); 
  background-color: #FAA94A; 
}

.docElement span{
  color: #0A2950;
  font-size: min(1.1vw, 1.1em);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 border: 1px solid #0A2950;
 border-bottom-right-radius:min(2.5vw, 2.5em);
  /* margin: 20px;
  padding: 20px; */
  position: relative;
  margin:min(2vw, 2em);
}

.elementChild{
    width: 75%;
}

.element p {
  color: #0A2950;
  font-size: min(1.3vw, 1.3em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: min(1.3vw, 1.3em);
}

.elementChild img{
  margin-right: min(0.8vw, 0.8em);
  transform: translateY(20%);
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.popUpCard{
  display: flex;
  justify-content: center;
  flex-direction: column;
 border: 1px solid #0A2950;
 border-bottom-right-radius:min(2.5vw, 2.5em);
  background-color: #fff;
  width: auto;
  max-width: auto;
  height: auto;
  padding-top: min(0vw, 0em);
  padding-right: min(1vw, 1em);
  padding-left: min(1vw, 1em);
  padding-bottom: min(0.2vw, 0.2em);
}

.buttonContainer{
  display: flex;
  cursor: pointer;
  width: 100%;
}

.closeButton {
  cursor: pointer;
  margin-left: auto;
  /* margin-right:min(0.8vw, 0.8em); */
  margin-top:min(0.8vw, 0.8em);
  width: min(1.5vw, 1.5em);
  height: min(1.5vw, 1.5em);
}

.closeButton img{
  width: 100%;
  height: 100%;
}

.moreButton {
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  color: #0A2950;
  text-decoration: underline;

  font-size: min(1.2vw, 1.2em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.linkscontainer{
  width: 100%;
  margin: min(2vw, 2em);
  /* margin-left: auto;
  margin-right: auto; */
}

.linkscontainer p{
  color: #0A2950;
  font-size: min(1.6vw, 1.6em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: min(0.7vw, 0.7em);
  margin-bottom: min(2vw, 2em);
}

.linkscontainer::before{
  content: '';
  position: absolute;
  margin-left: min(-0.3vw, -0.3em);
  width: min(0.3vw, 0.3em);
  height: min(2.2vw, 2.2em); 
  background-color: #FAA94A
; 
}

.linksImg{
  width: min(1.7vw, 1.7em);
  height: min(1.7vw, 1.7em);
  transform: translateY(20%);
  display: inline;
  margin-right: min(0.8vw, 0.8em);
}

.popUpLinks a{
  color: #0A2950;
  font-size: min(1vw, 1em);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display:inline-flex; 
  margin-bottom:min(1vw, 1em);
}

/* ---MOBILE--- */

@media (max-width: 768px) {
  .wrapContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  

}