.main{
  position: relative;
  height: 200vh;
  max-height: 200em;
  /* background-color: rgb(56, 56, 56); */
}

.layout1{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  /* max-width: 100em; */
  background-image: url('/images/mainbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.lineContainer{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 85%;
  height: 80vh;
  max-width: 80em;
  /* background-color: rgba(127, 255, 212, 0.436); */
  border-left: 1px solid #fff;
}

.lineContainer::before{
  content: '';
  position: absolute;
  transform: rotate(45deg);
  top: 0;
  margin-left: -3px;
  width: 5px;
  height: 5px;
  background-color: white; 
}

.layout1title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63%;
  /* background-color: blueviolet; */
}

.layout1Title{
  width: 80%;
}

.layout1Title h1{
  font-size: min(3.8vw, 3.8em);
  /* line-height: min(5vw, 5em); */
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: medium;
  margin-bottom: min(1.4vw, 1.4em);
}

.layout1Title::before{
  content: '';
  position: absolute;
  margin-left: min(-1vw, -1em);
  width: min(0.4vw, 0.4em);
  height: min(4.5vw, 4.5em); 
  background-color: #FAA94A
; 
}

.button {
  /* margin-top:  min(1vw, 1em); */
  margin-bottom: min(1.4vw, 1.4em);
  background-color: #FAA94A;
  color: #fff;
  border: none;
  border-radius: 12px 0px 12px 0px;
  padding: 10px 35px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.button:hover {
 opacity: .95;
}

.layout1line{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.5em;
  height: 7.5vw;
  /* background-color: rgba(56, 50, 50, 0.445); */
}

.lineimg1{
  z-index: 1;
  position: relative;
  width: 60%;
  margin-left: 10%;
  /* height: 100%; */
  border-bottom-right-radius: 2.5em;
}

.lineimg1 img{
  object-fit: contain;
  width: 100%;
  height: auto; 
  border-bottom-right-radius: 2.5em;
}

.layout1line::before{
  z-index: 4;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 4px solid transparent;
}

.layout1line::after{
  content: '';
  position: absolute;
  width: 38%;
  height: 1px;
  background-color: white; 
}

/* ------------------------------- */

.layout2{
  display: flex;
  justify-content: center;
  height: 100vh;
  /* max-width: 100em; */

  background-image: url('/images/bluebackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.lineContainer2{
    margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  /* justify-content: center; */
  width: 85%;
  height: 80vh;
  max-width: 80em;
  /* background-color: rgba(255, 127, 246, 0.436); */
  border-left: 1px solid #fff;
}

.lineContainer2::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 1px;
  background-color: white; 
}

.lineContainer2::after{
  z-index: 8;
  content: '';
  position: absolute;
  transform: rotate(45deg);
  bottom: 0;
  margin-left: -3px;
  margin-bottom: -1px;
  width: 5px;
  height: 5px;
  background-color: white; 
}

.layout2Title{
  margin-top: min(3vw, 3em);
  width: 80%;
  direction: rtl;
  margin-left: auto;
  margin-right: auto;
}

.layout2Title::after{
  margin-top: min(3vw, 3em);
  content: '';
  position: absolute;
  top: 0px;
  margin-right: min(-1vw, -1em);
  /* width: min(0.4vw, 0.4em);
  height: min(3.5vw, 3.5em);  */

  width: min(0.4vw, 0.4em);
  height: min(4.5vw, 4.5em); 
  background-color: rgb(0, 187, 255); 
}

.layout2Title h2{
  font-size: min(2.5vw, 2.5em);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}



.layout2Title p{
  width: 96%;
  margin-top: min(1.2vw, 1.2em);
  font-size: min(1.3vw, 1.3em);
  line-height: min(2.1vw, 2.1em);
  color: #dbdbdb;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}


.plantImage{
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: min(25vw, 25em);

  transform: translateY(40%);
}
  
.plantImageChild{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 68%;
  max-width: 68em;
  border-bottom-right-radius: 2.5em;
}


.plantImageChild img{
  object-fit:cover;
  width: 100%;
  height: 100%; 
  border-bottom-right-radius: 2.5em;
}

.button2container{
  display: none;
}


/* ---MOBILE--- */

@media (max-width: 768px) {

  .main{
    position: relative;
    height: auto;
    /* background-color: rgb(56, 56, 56); */
  }

  .layout1{
    display: flex;
    justify-content: center;
    align-items: end;
    height: auto;
    /* max-width: 100em; */
    /* background-color: rgb(7, 169, 74); */
  }
  
  .lineContainer{
    margin-top: min(15vw, 15em);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 85%;
    height: auto;
    max-width: 80em;
    /* background-color: rgba(127, 255, 212, 0.436); */
    border-left: 1px solid #fff;
  }

  .layout1title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 9vw;
    /* background-color: blueviolet; */
  }

  
  
  .layout1Title{
    width: 80%;
  }
  
  .layout1Title h1{
    font-size: min(5.2vw, 5.2em);
    line-height: min(8.5vw, 8.5em);
    color: #fff;
  }

  .layout1Title::before{
    content: '';
    position: absolute;
    margin-left: min(-.6vw, -.6em);

    width: min(1.2vw, 1.2em);
    height: min(7vw, 7em); 
    
    background-color: #FAA94A
; 
  }

  .layout1line::before{
    border-top: 0px solid transparent;
    border-left: 0px solid #fff;
    border-bottom: 0px solid transparent;
  }
  
  .layout1line::after{
    width: 0px;
    height: 0px;
  }
  
  .layout1line{
    margin-top: 4vw;
    width: 100%;
    height: 12em;
    height: 12vw;
  }
  
  .lineimg1{
    z-index: 1;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* height: 100%; */
    border-bottom-right-radius: 0.9em;
  }
  
  .lineimg1 img{
    object-fit: contain;
    width: 100%;
    height: auto; 
    border-bottom-right-radius: 0.9em;
  }

  .button {
    display: none;
  }

.button2container{
  display: flex;
  width: 100%;
  margin-bottom: 5vw;
  /* background-color: aqua; */
}

  .button2 {
    width: 90%;
    margin-top:  min(10vw, 10em);
    margin-bottom:  min(10vw, 10em);
    background-color: #FAA94A
;
    color: #fff;
    border: none;
    border-radius: 12px 0px 12px 0px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  /* ------------------ */

  .layout2{
    display: flex;
    justify-content: center;
    height: auto;
    /* max-width: 100em; */
    /* background-color: rgb(43, 0, 255); */

  }

  .lineContainer2{

  /* justify-content: center; */
  width: 85%;
  height: auto;
  max-width: 80em;
  margin-bottom: 10vw;
}








.layout2Title{
  height: auto;
  margin-top: min(10vw, 10em);
  width: 94%;
}

.layout2Title::after{
  margin-top: min(11vw, 11em);
  content: '';
  position: absolute;
  top: 0px;
  margin-right: min(-1vw, -1em);
  width: min(1.2vw, 1.2em);
  height: min(7vw, 7em); 
  background-color: rgb(0, 187, 255); 
}

.layout2Title h2{
  font-size: min(5.5vw, 5.5em);
  color: #fff;
}



.layout2Title p{
  width: 96%;
  height: auto;
  margin-top: min(3.5vw, 3.5em);
  font-size: min(3.8vw, 3.8em);
  line-height: min(5vw, 5em);
  color: #fff;
    margin-bottom: 25vw;
}



.plantImage{
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: min(45vw, 45em);

  transform: translateY(40%);
}

.plantImageChild{
  height: 100%;
  width: 75%;
}


.plantImageChild img{
  border-bottom-right-radius: 2em;
}



}



/* --------large desktop--------- */



@media screen and (min-width: 1801px) {




}