
.EventsContainer{
  position: relative;
  width: 100%;
  display: flex;
  margin-top: min(-8vw, -8em);
  transform: translateY(50%);
  z-index: 50;
}


.Envents{
  position: relative;
  width: 80%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.buttonContainer{
  display: flex;
  width: 100%;
}



.buttonContainer button{
  padding:min(0.8vw, 0.8em);
  padding-left:min(2vw, 2em);
  padding-right:min(2vw, 2em);
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff00;
  border: 1px solid #fff;
  color: #fff;
  border-bottom-right-radius:min(1.5vw, 1.5em);
  border-top-left-radius:min(1.5vw, 1.5em);
  margin-top:min(2vw, 2em);
  margin-bottom:min(2.5vw, 2.5em);

  font-size: min(1.2vw, 1.2em);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.2s;
}

.buttonContainer button:hover{
  cursor: pointer;
  background-color: #fff;
  color: black;
  transition: 0.2s;
}



.EventsTitle p{
  color: #0A2950;
  font-size: min(2.2vw, 2.2em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left:  min(3vw, 3em);
}


.EventsTitle p::before{
  content: '';
  position: absolute;
  margin-left: min(-0.5vw, -0.5em);
  width: min(0.3vw, 0.3em);
  height: min(3vw, 3em); 

  width: min(0.4vw, 0.4em);
  height: min(3vw, 1.5em); 
  background-color: #00D4BB; 
}


.eventsCardContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.cardImgContainer{
  width: 100%;
  height: 50%;
  height: 14em;
  max-height: 15em;
  transition:  0.1s ease-in-out; 
}

.cardImgContainer img{
  object-fit:cover;
  width: 100%;
  height: 100%;
}

.cardImgContainerAnimation{
  filter: blur(1px);
  transition:  0.1s ease-in-out; 
}


.card{
  width: 23vw;
  max-width: 23em;

  height: auto;
  background-color: #fff;
  border: 1px solid #0A2950;
  border-bottom-right-radius: min(3vw, 3em);
  margin:min(2vw, 2em);
  transition: transform 0.3s ease-in-out; 
}

.card:hover{
  cursor: pointer;
  transform: scale(1.04); 
}


.enterAnimation {
  /* transform: scale(0.8);  */
  /* transform: translateX(-15%);  */
}




.cardContent{
  margin:min(2vw, 2em);
}


.cardContent h2{
  color: #0A2950;
  font-size: min(1.3vw, 1.3em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: min(1.3vw, 1.3em);
  transition:  0.4s ease-in-out; 
}

.cardContentAnimation h2{
  transform: translateX(-1%); 
  /* filter: blur(10px); */
  transition:  0.25s ease-in-out; 
}

.cardContent p{
  color: #0A2950;
  font-size: min(1vw, 1em);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: min(1vw, 1em);
  transition:  0.2s ease-in-out; 
}


.cardContentAnimation p{
  /* transform: translateX(-0.5%);  */
  /* filter: blur(1px); */
  transition:  0.2s ease-in-out; 
}

.cardLink{
  margin-bottom:min(1.5vw, 1.5em);
}

.cardLink img{
  margin-right:min(1vw, 1em);
  transform: translateY(30%);
}


.cardLink a{
  color: #0A2950;
  font-size: min(1vw, 1em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}



/* ----------tablets------------- */

/* 
@media (max-width: 770px) {
  .eventsCardContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }


} */


  @media (max-width: 450px) {

    .Envents{
      width: 80%;
      max-width: 80em;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
    }
    
    
    .EventsTitle p{
      font-size: min(5vw, 5em);
      margin-left:  min(3vw, 3em);
    }

    .EventsTitle p::before{
      margin-left: min(-0.6vw, -0.6em);
      width: min(1.2vw, 1.2em);
      height: min(7vw, 7em); 
    }
    
    .card{
      width: 80vw;
      max-width: 80em;
      border-bottom-right-radius: min(7vw, 7em);
    }

    .cardContent{
      margin: min(7vw, 7em);
    }

    .cardContent h2{
      color: #0A2950;
      font-size: min(4.5vw, 4.5em);
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-bottom: min(1.3vw, 1.3em);
    }
    
    .cardContent p{
      color: #0A2950;
      font-size: min(3.6vw, 3.6em);
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      margin-bottom: min(1vw, 1em);
    }
    
    .cardLink{
      margin-bottom:min(1.5vw, 1.5em);
    }
    
    .cardLink img{
      margin-right:min(2vw, 2em);
      transform: translateY(30%);
    }
    .cardLink a{
      color: #0A2950;
      font-size: min(3.5vw, 3.5em);
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

  }









  /* ---MOBILE--- */

@media (max-width: 460px) {

  .buttonContainer button{
    width: 100%;

    padding:min(3.5vw, 3.5em);
    padding-left:min(2vw, 2em);
    padding-right:min(2vw, 2em);
    border-bottom-right-radius:min(3.5vw, 3.5em);
    border-top-left-radius:min(3.5vw, 3.5em);
    
    margin-top:min(2vw, 2em);
    margin-bottom:min(2.5vw, 2.5em);

    font-size: min(4vw, 4em);

}

.card:hover{
  /* cursor: pointer; */
  transform: scale(1); 
}

}