@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}




.carousel-item {
  width: 95%;
  /* height: 80vh;
  max-height: 80em; */
  margin: 2vw; /* Margen entre las imágenes */
  border: 1px solid #0A2950;
  border-radius: min(1.5vw, 1.5em);
}

.carousel-item img{
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: min(1.5vw, 1.5em);
}

/* Media query para dispositivos móviles */
@media (max-width: 450px) {

}


/* ---------------hamburguer button----------------- */
.hamb1{
   z-index: 12;
  width: 100%;
  height: 0.3em;
  border-radius: 6em;
  position: absolute;
  background-color: #fff;
  transition: .4s;
}
.hamb2{
   z-index: 12;
  width: 100%;
  height: 0.3em;
  border-radius: 6em;
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  transition: .4s;
}
.hamb3{
   z-index: 12;
  width: 50%;
  bottom: 0%;
  right: 0%;
  height: 0.3em;
  border-radius: 6em;
  position: absolute;
  background-color: #fff;
  transition: .4s;
}


.hamb1active{
   z-index: 12;
  width: 100%;
  height: 0.3em;
  border-radius: 6em;
  position: absolute;
  background-color: #fff;
  transition: .4s;
  transform: rotate(-40deg);
  top: 50%;
  /* transform: translateY(200%); */
}
.hamb2active{
   z-index: 12;
  width: 100%;
  height: 0.3em;
  border-radius: 6em;
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(40deg);
  transition: .4s;
}
.hamb3active{
   z-index: 12;
  width: 0%;
  bottom: 0%;
  right: 0%;
  height: 0.3em;
  border-radius: 6em;
  position: absolute;
  background-color: #fff;
  transition: .4s;
}

/* --------------------------------------------------- */



/* ------------------------Header Menu----------------------- */

.headerMenu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: -100vw;
  background-color: #4444442c;
  transition: 1s;
}

.headerMenuActive{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0vw;
  /* margin-right: 100vw; */
  background-color: #0f1430fb;
  transition: 1s;
}

.headerMenu span{
  list-style: none;
  font-size: min(6.5vw, 6.5em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.headerMenuActive span{
  list-style: none;
  font-size: min(6.5vw, 6.5em);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}



/* --------------------------------------------------- */
