.main{
    position: relative;
}

.temporal1{
    height: 25vh;
    background-color: antiquewhite;
}


.temporal2{
    height: 100vh;
    background-color: blue;
}
/* ---MOBILE--- */

@media (max-width: 768px) {
    .temporal1{
        height: 15vh;
        background-color: antiquewhite;
    }
    
  }