.headerContainer{
  width: 100%;
  display: flex;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
}

.header {
    z-index: 5;
    width: 100%;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1.2em 3vw 1.2em 3vw;
    text-decoration: none;
  }
  
  .link {
    position: relative;
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    font-size: min(1.4vw, 1.4em);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }

/* -------effect underline-------- */
.link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e5e5e5;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after { 
  width: 100%; 
  left: 0; 
}

  /* ---------------------------- */

.header a{
    text-decoration: none;
  }
  
  .button {
    background-color: #FAA94A;
    color: #fff;
    border: none;
    border-radius: 12px 0px 12px 0px;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .button:hover {
    opacity: .95;
  }
  
  .mobileHeader{
    display: none;
  }

/* ---MOBILE--- */

  @media (max-width: 450px) {

    .header{
      display: none;
    }

  
    .link {
      margin: 10px 0;
    }


    .mobileHeader {
      z-index: 5;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: end;
      color: #fff;
      padding: 0.8em 3vw 0.5em 3vw;
      text-decoration: none;
    }

    
    .mobileHeader span{
      font-size: min(4vw, 4em);
      margin-right: 1em;
    }



/* ---------------hamburguer button----------------- */

    .hamburguerContainer{
      position: relative;
      right: 0px;
      width: min(10vw, 10em);
      height: min(7vw, 7em);
      /* background-color: #FAA94A; */
    }



/* --------------------------------------------------- */

  }