.headerContainer{
  width: 100%;
  display: flex;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
}

.header {
    z-index: 5;
    width: 100%;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1.2em 3vw 1.2em 3vw;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    font-size: 16px;
  }
  
  .button {
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 12px 0px 12px 0px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }

  .button:hover {
    background-color: rgba(255, 166, 0, 0.929);
  }
  
/* ---MOBILE--- */

  @media (max-width: 450px) {

    .header{
      display: none;
    }
    

    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .link {
      margin: 10px 0;
    }
  }